// table {
//   width: 50% !important;
// }
.set_image{
  height: 30px;

}
img{
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}
