body
{
    background: url(https://img.freepik.com/premium-photo/abstract-plexus-background-with-connected-lines-dots-wave-flow-plexus-geometric-effect-big-data_230610-893.jpg?w=826);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
