<!-- Header -->
<div class="header" [ngClass]="{
  'header-one': changeLayout === '2',
  'header-three': changeLayout === '4'
}">
  <div [ngClass]="{
  'container': changeLayout === '3',
  'sidebar-cls' : changeLayout !== '3'
}">
    <div
      [ngClass]="{
    'd-flex justify-content-between align-items-center header-block': changeLayout === '3', 'sidebar-cls-two' : changeLayout !== '3'  }">
      <div (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')" class="header-left"
        [class.active]="miniSidebar === false" *ngIf="activePath !== 'pos'">
        <br>
        <a (click)="toggleSidebar()" id="toggle_btn" href="javascript:void(0);"
          *ngIf="changeLayout === '1' || changeLayout === '3'" [class.active]="miniSidebar === true">
          <i data-feather="chevrons-left" class="feather-16"></i>
        </a>
      </div>
      <a id="mobile_btn" class="mobile_btn" (click)="togglesMobileSideBar()" *ngIf="activePath !== 'pos'">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a id="mobile_btn" class="mobile_btn" href="javascript:void(0)" *ngIf="activePath === 'pos'">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="mt-1"
        style="float: right;margin-right: 25px; color: white;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item >
          <img class="avatar"  [src]="img" alt="Profile Image" />
          <span> {{name}} </span>
        </button>
        <button mat-menu-item (click)="logouts()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>