.login-wrapper{
    justify-content: center !important;
    width: 100% !important;
}
.login-wrapper .login-content {
    width: 100% !important;
    padding: 30px;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.respon{
    justify-content: center !important;
    text-align: center;
}
.login-userheading{
    justify-content: center !important;
    text-align: center !important;
}