<div mat-dialog-content>
    <div class="d-flex  pt-3 pb-2 align-items-center justify-content-between">
        <div>
            <h2 class="m-0 p-0">
                Task
            </h2>
            <p class="p-0 m-0">View/Manage View Task</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card table-card">
                <div class="card-header card-body table-border-style">
                    <div class="row">
                        <div class="col-12">
                            Task Name :-
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            Task Time :-
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            Task Description :-
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            Task Document File :-
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

</div>