<div class="page-header">
    <div class="page-title">
      <h4> Add Task</h4>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <form [formGroup]="addTaskForm">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Tittle</label>
              <input type="text" formControlName="tittle" placeholder="Enter Tittle" />
              <small *ngIf="addTaskForm.controls['tittle'].errors && ckForm" class="text-danger">Enter Your Tittle
              </small>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Category</label>
              <input type="text" formControlName="category" placeholder="Enter Category" />
              <small *ngIf="addTaskForm.controls['category'].errors && ckForm" class="text-danger">Enter Your Category
              </small>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Sub-Category</label>
              <input type="text" formControlName="subcategory" placeholder="Enter Sub-Category" />
              <small *ngIf="addTaskForm.controls['subcategory'].errors && ckForm" class="text-danger">Enter Your Sub-Category
              </small>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Task Time</label>
              <input type="text" formControlName="taskTime" placeholder="Enter Task Time" />
              <small *ngIf="addTaskForm.controls['taskTime'].errors && ckForm" class="text-danger">Enter Your Task Time
              </small>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Price</label>
              <input type="text"  formControlName="price" placeholder="Enter Price" />
              <small *ngIf="addTaskForm.controls['price'].errors && ckForm" class="text-danger">Enter Your Price
              </small>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Document Upload (optional)</label>
              <input type="file" class="form-control" formControlName="descriptionFile" placeholder="Enter Document File" />
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-12">
                <div class="form-group">
                  <label>Description</label>
                  <textarea type="text" formControlName="description" placeholder="Enter Description" rows="10"></textarea>
                  <small *ngIf="addTaskForm.controls['description'].errors && ckForm" class="text-danger">Enter Your Description
                  </small>
                </div>
              </div>
        </div>
            <button type="submit" class="btn btn-submit" (click)="onSubmit()">
              Submit
            </button>
      
      </form>
    </div>
  </div>